@import "../variables.scss";

.projectsContainer{
    padding-top:30vh;
    height:150vh;
    width:100%;
    background: rgba(39, 41, 40, 0.178);
    backdrop-filter: blur( 1vh );
    -webkit-backdrop-filter: blur( 1vh );

    display:flex;
    align-items: flex-start;
    h1{
        position:absolute;
        right:8vh;
        top:-10vh;
        font-size:20vh;
        color: rgba(249, 253, 251, 0.1);
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        opacity: 1;
    }
}
