@import "../variables.scss";

.mainContainer{
    .realMain{
        width:100%;
        height:100vh;
        display:flex;
        justify-content:center;
        align-items:center;
        background-attachment: fixed;

        .box {
            display:flex;
            justify-content:center;
            align-items:center;
            width: 50vw;
            height: 60vh;
            h1{
                color:white;
                font-family: 'Montserrat', sans-serif;
            }
        }
        .logoBox{
            position: fixed;
            left:0;
            top:0;
            margin:1vw;
            display:flex;
            align-items:center;
            transition: all 0.5s ease;
            z-index: 10;
           .logo{
                width: 2.2vw;
                height:2.2vw;
                transition:.5s ease .1s;
           }
           h1{
            color:rgba(255, 255, 255, 0.452);
            font-family: 'Montserrat', sans-serif;
            font-size:1vw;
            margin-left:.3vw;
            animation: nameAppear 1s forwards;
            
           }
        }
        .logoBoxAnim{
            h1{
                animation:nameDisappear .5s forwards;
            }
            .logo{
                transform: scale(1.5,1.5)
           }
        }

        @keyframes nameDisappear {
            0%{
                opacity:1;
            }
            100%{
                opacity:0;                
            }
        }
        @keyframes nameAppear {
            0%{
                opacity:0;
            }
            50%{
                opacity:0;
            }
            100%{
                opacity:1;
            }
        }

        .downArrow{
            position:absolute;
            width:5vh;
            bottom:5vh;
            opacity:0.5;
            transition:.3s;
            cursor: pointer;
            
        }
        .downArrow:hover{
            opacity:0.9;
            transform: scale(1.2,1.2)
            
        }

    }
}