.sidebar{
    position: fixed;
    height:100vh;
    top: 0;
    right: 0;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    #link{
        writing-mode: vertical-rl;
        color:white;
        cursor: pointer;
        display:flex;
        align-items:center;
        justify-content:center;
    }
    .l1{
        flex:.7;
    }
    .l2{
        flex:.7;
    }
    .l3{
        flex:1.1;
    }
    .l4{
        flex:.7;
    }
}
::-webkit-scrollbar {
    width: .3vw;
  }
  ::-webkit-scrollbar-track {
    background: #000000;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
  }
  ::-webkit-scrollbar-thumb:hover{
    background: rgb(126, 126, 126);
  }